@model Orix.AlocacaoDeHoras.Web.ViewModels.PeriodoViewModel

<div id="mensagemSucesso" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>ID do período: @Model.IdReporte</p>
</div>